.modalfau-open .dropdown-menu {
  z-index: 2050;
}

.modalfau-open .dropdown.open {
  *z-index: 2050;
}

.modalfau-open .popover {
  z-index: 2060;
}

.modalfau-open .tooltip {
  z-index: 2080;
}

.modalfau-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modalfau-backdrop.fade {
  opacity: 0;
}

.modalfau-backdrop,
.modalfau-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modalfau {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin: -250px 0 0 -280px;
  overflow: auto;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modalfau.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modalfau.fade.in {
  top: 50%;
}

.modalfau-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

.modalfau-header .close {
  margin-top: 2px;
}

.modalfau-header h3 {
  margin: 0;
  line-height: 30px;
}

.modalfau-body {
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}

.modalfau-form {
  margin-bottom: 0;
}

.modalfau-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.modalfau-footer:before,
.modalfau-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.modalfau-footer:after {
  clear: both;
}

.modalfau-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modalfau-footer .btn-group .btn + .btn {
  margin-left: -1px;
}











.modalxfau-open .dropdown-menu {
  z-index: 2050;
}

.modalxfau-open .dropdown.open {
  *z-index: 2050;
}

.modalxfau-open .popover {
  z-index: 2060;
}

.modalxfau-open .tooltip {
  z-index: 2080;
}

.modalxfau-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modalxfau-backdrop.fade {
  opacity: 0;
}

.modalxfau-backdrop,
.modalxfau-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modalxfau {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  width: 900px;
  margin: -250px 0 0 -480px;
  overflow: auto;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modalxfau.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modalxfau.fade.in {
  top: 50%;
}

.modalxfau-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

.modalxfau-header .close {
  margin-top: 2px;
}

.modalxfau-header h3 {
  margin: 0;
  line-height: 30px;
}

.modalxfau-body {
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}

.modalxfau-form {
  margin-bottom: 0;
}

.modalxfau-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.modalxfau-footer:before,
.modalxfau-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.modalxfau-footer:after {
  clear: both;
}

.modalxfau-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modalxfau-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
















.modalsfau-open .dropdown-menu {
  z-index: 2050;
}

.modalsfau-open .dropdown.open {
  *z-index: 2050;
}

.modalsfau-open .popover {
  z-index: 2060;
}

.modalsfau-open .tooltip {
  z-index: 2080;
}

.modalsfau-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modalsfau-backdrop.fade {
  opacity: 0;
}

.modalsfau-backdrop,
.modalsfau-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modalsfau {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin: -250px 0 0 -280px;
  overflow: auto;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modalsfau.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modalsfau.fade.in {
  top: 50%;
}

.modalsfau-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

.modalsfau-header .close {
  margin-top: 2px;
}

.modalsfau-header h3 {
  margin: 0;
  line-height: 30px;
}

.modalsfau-body {
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}

.modalsfau-form {
  margin-bottom: 0;
}

.modalsfau-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.modalsfau-footer:before,
.modalsfau-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.modalsfau-footer:after {
  clear: both;
}

.modalsfau-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modalsfau-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
